{% extends "layout.html" %}
{% block title %}
    Ideologia
{% endblock %}
{% block body %}
		</nav>
		<h1>Ideologia de Demian</h1>
		<div class="container">
		<h3>¿Qué es Abraxas?</h3>
		<div>
			<p>Abraxas es un dios que une simbólicamente lo divino con lo infernal, lo bueno con lo malo, la vida con la muerte, ese fuego filosofal que une al hombre con la mujer. Venera las dos partes. Es la unión sagrada, es la ambigüedad de la existencia.</p>
		</div>



	<div class="card mb-3" style="max-width: 540px;">
	  <div class="row no-gutters">
	    <div class="col-md-4">
	      <img src="static/abraxas.jpg" class="card-img" alt="...">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">Abraxas</h5>
	        <p class="card-text">"El pájaro rompe el cascarón. El huevo es el mundo. El que quiere nacer tiene que romper un mundo. El pájaro vuela hacia Dios. El Dios es Abraxas."</p>
	      </div>
	    </div>
	  </div>
	</div>
		<div class="success">Alcanzar a Abraxas es una metafora que utiliza Hermann Hesse para referirse el aprender a amar y a vivir con todas las partes de uno mismo, tanto las buenas como las malas.</div>

		<h3>¿Qué es la psicologia analitica de Carl Jung?</h3>
		<div>
			<p>Es una escuela de la psicoterapia moderna, y algo que caracteriza a la psicoterapia es el analizis de los sueños, aqui explicare un poco sobre los 4 arquetipos principales segun jung</p>
			<ol>
            <li><a href="#persona">Persona</a></li>
            <li><a href="#sombra">Sombra</a></li>
            <li><a href="#anima">Anima/animus</a></li>
						<li><a href="#self">The self</a></li>
        </ol>
			<ul>
					<li id="persona">Persona</li>
					<p>Es la personalidad que un individuo proyecta a otros, es la manera en la que nos presntamos ante el mundo que nos rodea y adaptarnos a las demandas de la sociedad.
					Este arquetipo representa las diferentes mascaras sociales que usamos en diferentes grupos o situaciones. El riesgo de este arquetipo es que no representa verdaderamente nuestra identidad.</p>
					<li id="sombra">Sombra</li>
					<p>Este arquetipo es lo contratio a persona, es la parte oscura de nuestra personalidad que no mostramos al mundo y representa todo lo que reprimimos. Jung nos dice:
					"Tomar conciencia de ello implica reconocer los aspectos oscuros de la personalidad como presentes y reales. Este acto es la condicion esencial para
					cualquier tipo de autoconocimiento, y por lo tanto, como regla general, se encuentra con una considerable resistencia."</p>
					<li id="anima">Anima/animus</li>
					<p>El anima es una imagen femenina en una psique masculina, y el animus una imagen masculina en una psique femenina. El anima/animus representa el verdadero yo, el lugar de la imagen que presentamos a los demas</p>
					<li id="self">The self</li>
					<p>Es un arquetipo que representa la inconciencia y la conciencia unificadas de un individuo, la creacion del self ocurre atraves de un proceso conocido como individuacion en el cual los diversos aspectos de la personalidad estan integrados.</p>
			</ul>

		</div>
	</div>
{% endblock %}
