{% extends "layout.html" %}
{% block title %}
    Personajes
{% endblock %}
{% block body %}
		</nav>

		<table class='table-small w-50 mx-auto text-center '>
				<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Protagonismo</th>
				</tr>
				<tr>
						<td>Emil</td>
						<td>Sinclair</td>
						<td>Narrador de la Historia</td>
				</tr>
				<tr>
						<td>Max</td>
						<td>Demian</td>
						<td>Compañero de la escuela de Emil</td>
				</tr>
				<tr>
						<td>Franz</td>
						<td>Kromer</td>
						<td>Chico pandillero</td>
				</tr>
				<tr>
						<td>Beatrice</td>
						<td>desconocido</td>
						<td>Amor platonico de Sinclair</td>
				</tr>

		</table>
		<div class="container">
			<div>
				<h4>Emil Sinclair</h4>
				<h5>Narrador de la historia. Vive grandes contradicciones entre el mundo de la luz y el de la oscuridad. Su encuentro con Demian lo hará consciente de su pertenencia a los elegidos, los que llevan «el estigma de Caín» sobre su frente. Toda su historia es la narración de un proceso de maduración, de autoconocimiento, un camino hacia sí mismo y lo que significa encontrar su destino.</h5>
			</div>
			<div>
				<h4>Max Demian</h4>
				<h5>Compañero de escuela de Sinclair. Personaje misterioso que a todos llama la atención.
				Emil también se siente atraído por él Max le descubre que pertenece al grupo de los que llevan el estigma,
				le ayudará a encontrar su destino y se convertirá en su guía y amigo hasta que la guerra estalle.</h5>
			</div>
			<div>
				<h4>Franz Kromer</h4>
				<h5>Chico más grande y fuerte que Emil. Al oír una historia de un robo inventada por Sinclair lo empieza a chantajear y se convierte en su pesadilla.
			Representa un primer paso hacia «el otro mundo».</h5>
			</div>
			<div>
				<h4>Beatrice</h4>
				<h5>Nombre que le pone Sinclair a una muchacha que por un tiempo representa sus ideales de un amor espiritual y que por un tiempo lo devuelve a un mundo luminoso de veneración y recogimiento.</h5>
			</div>
			<div>
				<h4>Pistorius</h4>
				<h5>Organista de una iglesia, estudioso de la mística y de las religiones antiguas es durante un tiempo amigo y guía de Sinclair. Aunque luego encontrarán diferencias irresolubles entre ellos le ayuda a dar un camino más en la búsqueda de su destino.</h5>
			</div>


{% endblock %}
